global
    log stdout format raw local0
    maxconn 4096
    user haproxy
    group haproxy

defaults
    log global
    mode http
    option httplog
    option dontlognull
    retries 3
    option redispatch
    timeout connect 300s
    timeout client  300s
    timeout server  300s

frontend http_front
    bind *:80
    default_backend web_servers

backend web_servers
    balance roundrobin  # Método de balanceo de carga, puedes cambiarlo a 'leastconn', 'source', etc.
    option httpchk
    server web_server1 proyecto-instacia2.onrender.com:8000 check
    server web_server2 proyecto-instancia1.onrender.com:8000 check

# Si tienes más servidores o deseas añadir HTTPS, puedes ajustar esta configuración según sea necesario.
