global
daemon
maxconn 256

defaults
mode http
timeout connect 5000ms
timeout client 50000ms
timeout server 50000ms

resolvers google_dns
nameserver ns1 8.8.8.8:53
nameserver ns2 8.8.4.4:53

frontend http_front
bind *:80
default_backend http_back

backend http_back
balance roundrobin
server primer_web proyecto-instancia1.onrender.com:8000 check resolvers google_dns resolve-prefer ipv4
server segundo_web proyecto-instacia2.onrender.com:8000 check resolvers google_dns resolve-prefer ipv4
